<header id="c-global-header" class="c-book-header" role="banner">
  <div class="l-flex-align-center--force">

    <div class="c-global-header__logo o-header-logo">
      <a href="/" class="o-header-logo__link">
        <svg class="o-header-logo__mark" viewBox="0 0 50 50"><use xlink:href="#logo-mark"/></svg>
      </a>
    </div>

  </div>

  <nav role="navigation" aria-label="primary" class="l-margin-mobile-large-left-20">
    <ul>
      <li class="l-margin-all-0">
        <span class="l-font-header l-font-bold l-font-18 l-flex c-book-header__chapter-intro">
          <span class="c-book-header__chapter-title">
            <span><%= episode.ordinal %>.</span> <span><%= episode.title %></span>
          </span>
        </span>
      </li>
    </ul>
  </nav>

  <div class="c-global-header__user">
  </div>
</header>

<div class="l-admin l-admin--sidebar-open">
  <%= erb :'videos/_table_of_contents.html', locals: { video_course: video_course, current_episode: episode } %>

  <div class="l-book-chapter-content l-relative">
    <article class="c-written-tutorial c-book-chapter l-block l-block--688">
      <header>
        <div class="c-written-tutorial__introduction">
          <span class="c-written-tutorial__breadcrumbs l-color-grey">
            <a href="/"><%= video_course.title %></a>
            <svg class="l-svg-breadcrumb">
              <use xlink:href="#chevron-vertical--grey"></use>
            </svg>
            <a href="#"><%= episode.title %></a>
          </span>

          <h1>
            <span class="l-whitespace"><%= episode.ref %></span>
            <div>
              <span class="l-font-42 l-margin-6"><%= episode.title %></span>
              <span class="l-font-header l-font-17 l-font-normal l-no-font-spacing l-margin-6 l-line-height-1125">
                It's a quiz!
              </span>
            </div>
          </h1>
        </div>
      </header>

      <div class="c-written-tutorial__content l-block l-block--card-medium">
        <% episode.questions.each do |question| %>
          <div>
            <h3><%= question.question %></h3>
            <ul>
              <% question.choices.each do |choice| %>
                <li>
                  <span><%= choice.ref %></span>
                  <span><%= choice.option %></span>
                  <% if choice.correct %><span class="o-badge o-badge-product--highlight">correct</span><% end %>
                </li>
              <% end %>
            </ul>
            <%= question.explanation %>
          </div>
        <% end %>
      </div>

    </article>
  </div>
</div>
