<div class="c-slide" id="slide-to-snapshot">
  <h1><%= video_course.title %></h1>
  <div>
    <% if video_course.parts.count > 1 %>
      <h2>Part <%= part.ordinal %>: <%= part.title %></h2>
    <% end %>
    <h3><%= episode.title %></h3>
  </div>
  <div class="c-slide__logo">
    <svg class="c-slide__logo-text" viewBox="0 0 240 50"><title>raywenderlich.com</title><use xlink:href="#logo-text"/></svg>
    <svg class="c-slide__logo-mark" viewBox="0 0 50 50"><use xlink:href="#logo-mark"/></svg>
  </div>

  <div class="c-slide__domains">
    <span>&mdash;</span>
    <span><%= video_course.domains.map { |domain| marketing_name_for_domain(domain) }.join(', ') %></span>
  </div>

  <% if video_course.featured_banner_image_url&.first&.url.present? %>
    <figure>
      <img src="<%= video_course.featured_banner_image_url&.first&.url %>">
    </figure>
  <% end %>
</div>
