<div class="l-book-toc l-margin-60 l-margin-mobile-large-40">
  <% content_module.lessons.each do |lesson| %>
    <h2>Lesson <%= lesson.ordinal %>: <%= lesson.title %></h2>
    <div class="l-book-toc-section-description">
      <p>
        <%= lesson.description %>
      </p>
    </div>


    <% lesson.segments.each do |segment| %>
      <div class="c-tutorial-segment">
        <div class="l-flex-align-start">
          <% if segment.is_a?(Video) %>
            <h4><a href="<%= url(transcript_path(segment)) %>"><%= segment.title %></a></h4>
            <% if segment.free %><span class="o-badge">Free</span><% end %>
            <a href="<%= url(slide_path(segment)) %>" class="o-badge o-badge-product--highlight">slide</a>
          <% elsif segment.is_a?(Assessment) %>
            <h4><a href="<%= url(assessment_path(segment)) %>"><%= segment.title %></a></h4>
          <% elsif segment.is_a?(Text) %>
            <h4><a href="<%= url(text_path(segment)) %>"><%= segment.title %></a></h4>
          <% end %>
        </div>
        <p><%= segment.description %></p>
        <span class="c-tutorial-segment__number-badge data-tooltip--top-left">
          <span class="o-badge-tutorial"><%= segment.ref %></span>
        </span>
      </div>
    <% end %>
  <% end %>
</div>
