<div class="content-toc">
  <% content_module.lessons.each do |lesson| %>
    <h2>Lesson <%= lesson.ordinal %>: <%= lesson.title %></h2>
    <div class="content-toc-description">
      <p>
        <%= lesson.description %>
      </p>
    </div>

    <div class="toc-container">
      <% lesson.segments.each do |segment| %>
        <div class="toc-segment">
          <div class="segment-number">
            <%= segment.ref %>
          </div>
          <div class="toc-grid">
            <div class="segment-header">
              <% if segment.is_a?(Video) %>
                <a class="segment-title" href="<%= url(transcript_path(lesson, segment)) %>"><%= segment.title %></a>
                <a class="slide-button" href="<%= url(slide_path(lesson, segment)) %>">slide</a>
              <% elsif segment.is_a?(Assessment) %>
                <a class="segment-title" href="<%= url(assessment_path(lesson, segment)) %>"><%= segment.title %></a>
              <% elsif segment.is_a?(Text) %>
                <a class="segment-title" href="<%= url(text_path(lesson, segment)) %>"><%= segment.title %></a>
              <% end %>
            </div>
            <div class="segment-description">
              <%= segment.description %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
