<nav class="lesson-toc">
  <div class="toc-expanded">
    <div class="toc-header">
      <h2>Lessons</h2>
    </div>
    <div class="toc-body">
      <div class="px-24">
        <h2 class="module-title"><%= content_module.title %></h2>
        <p class="length"><%= content_module.lessons.size %> <%= 'lesson'.pluralize(content_module.lessons.size) %></p>
      </div>
      <% content_module.lessons.each do |lesson| %>
        <div class="section-list">
          <div class="section-list-header-wrapper">
            <div class="section-list-header">
              <h4><%= lesson.title %></h4>
              <p><%= lesson.segments.count %> <%= 'segment'.pluralize(lesson.segments.count) %></p>
            </div>
          </div>
          <ul class="section-segment-list">
            <% lesson.segments.each do |segment| %>
              <li class="<%= 'current-segment' if segment == current_segment %>">
                <a href="<%= url(segment_path(lesson, segment)) %>">
                  <span class="segment-ref"><%= segment.ref %> </span>
                  <span class="segment-title"><%= segment.title %></span>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</nav>
