<div class="c-nav-sidebar--article c-nav-sidebar--book">
  <div>
    <div class="c-nav-sidebar__wrapper">
      <nav class="c-video-player__lessons">
        <div class="c-video-player__lessons-section">
          <% if content_module.professional %>
            <div class="l-margin-20 l-margin-bottom-n-10">
              <span class="o-badge o-badge--pro">Pro</span>
            </div>
          <% end %>

          <h4 class="c-video-player__lessons-title l-flex-align-center--force">
            <a href="/" class="l-font-19"><%= content_module.title %></a>
          </h4>

          <span class="l-display-block l-margin-3 l-color-grey l-font-14"><%= content_module.version_description %></span>
          <span class="l-display-block l-margin-3 l-color-grey l-font-14"><%= content_module.platform %>, <%= content_module.language %>, <%= content_module.editor %></span>
        </div>

        <% content_module.lessons.each do |lesson| %>
          <div class= "c-video-player__lessons-section">
            <span class="c-video-player__lessons-header c-video-player__lessons-header--open">
              <h4 class="c-video-player__lessons-title"><%= lesson.title %></h4>
              <span class="c-video-player__lessons-sum"><%= lesson.ordinal.present? ? "Section #{lesson.ordinal}:" : '' %> <%= 'segment'.pluralize(lesson.segments.count) %></span>
            </span>
            <ul class="c-box-list c-box-list--linked c-video-player__lesson-list c-video-player__lesson-list--open">
              <% lesson.segments.each do |segment| %>
                <li class="<%= 'c-box-list__item--active' if segment == current_segment %>">
                  <a href="<%= url(transcript_path(segment)) %>">
                    <span class="c-box-list__item-number"><%= segment.ref %>.</span>
                    <span class="c-box-list__item-title"><%= segment.title %></span>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </nav>
    </div>
  </div>
</div>
