<%= erb :'content_modules/_header.html', locals: { content_module: content_module} %>

<div class="content-module">
  <div class="segment">
    <div class="toc-open">
      <%= erb :'content_modules/_table_of_contents.html', locals: { content_module: content_module, current_segment: segment } %>
    </div>

    <div class="assessment-quiz">
      <h1 class="segment-header"><%= segment.ref%>. <%= segment.title %></h1>
      <% segment.questions.each do |question| %>
        <div class="quiz-container">
          <h3 class="written-content"><%= question.question %></h3>
          <div>
            <ul class="quiz-questions">
              <% question.choices.each do |choice| %>
                <li class="quiz-option <%= 'correct-choice' if choice.correct %>">
                  <span class="option-ref"><%= choice.ref %></span>
                  <span class="option-text written-content"><%= choice.option %></span>
                  <% if choice.correct %>
                    <span class="quiz-explanation written-content"><strong>Correct answer: </strong><%= question.explanation %></span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="quiz-lo">
            <span><strong>Learning Objective: </strong> <%= question.learning_objective %> </span>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
