<div class="content-module">
  <div class="container-1386">
    <header class="content-hero content-hero--dark">
      <div class="content-hero-left">
        <h1><%= content_module.title %></h1>
        <div class="metadata">
          <div class="version-meta mt-16">
            <div>
              <span class="w-bold">Platform:</span>
              <span><%= content_module.platform %></span>
            </div>
            <div>
              <span class="w-bold">Language:</span>
              <span><%= content_module.language %></span>
            </div>
            <div>
              <span class="w-bold">Editor:</span>
              <span><%= content_module.editor %></span>
            </div>
          </div>
          <p class="description">
            <%= content_module.description %>
          </p>
          <p class="authors">
            By* <%= content_module.authors.map(&:username).to_sentence(two_words_connector: ' & ', last_word_connector: ' and ') %>
          </p>
        </div>
        <div class="programme-metadata">
          <div class="programme-metadata__segment">
            <svg class="programme-metadata__segment-icon sc-white dark-sc-white"><use href="#chart"></use></svg>
            <div class="programme-metadata__segment-info">
              <div class="fs-16 lh-1">EXPERIENCE</div>
              <div class="fs-18 lh-1"><%= content_module.difficulty&.titlecase %> level</div>
            </div>
          </div>
          <div class="programme-metadata__segment">
            <svg class="programme-metadata__segment-icon icon sc-white dark-sc-white"><use href="#layers"></use></svg>
            <div class="programme-metadata__segment-info">
              <div class="fs-16 lh-1">VERSION</div>
              <div class="fs-18 lh-1"><%= content_module.version_description %></div>
            </div>
          </div>
          <div class="programme-metadata__segment">
            <svg class="programme-metadata__segment-icon icon sc-white dark-sc-white"><use href="#svg-change-path"></use></svg>
            <div class="programme-metadata__segment-info">
              <div class="fs-16 lh-1">CONTENT</div>
              <div class="fs-18 lh-1"><%= content_module.lessons.size %> <%= 'lesson'.pluralize(content_module.lessons.size) %></div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-hero-right">
        <img src="<%= content_module.featured_banner_image_url&.first&.url || 'https://lorempixel.com/594/768/abstract/' %>" class="content-image">
      </div>
    </header>
  </div>
  <div class="content-middle container-1188 mt-80">
    <div class="content-middle-left">
      <div class="outcomes">
        <div class="tile-header">
          <h2>Module outcomes</h2>
        </div>
        <div class="written-content">
          <%= content_module.outcomes %>
        </div>
      </div>
      <div class="concepts">
        <div class="tile-header">
          <h2>Covered concepts</h2>
        </div>
        <div class="written-content">
          <%= content_module.covered_concepts %>
        </div>
      </div>
    </div>


    <div class="content-middle-right">
      <%= erb :'content_modules/_index_table_of_contents.html', locals: { content_module: content_module } %>
    </div>
  </div>
</div>
