<header id="global-header" class="global-header" role="banner">
  <div class="header-container">

    <div class="header-left">
      <div class="header-logo">
        <a href="/">
          <svg><use xlink:href="#kodeco-orange"/></svg>
        </a>
      </div>
      <div class="page-name">
        <h4>robles: preview</h4>
      </div>
    </div>
    <div class="header-center">
      <span><%= content_module.shortcode %>:&nbsp;</span><span><%= content_module.title %>.</span>
    </div>
  </div>
</header>

<div class="content-module">
  <div class="segment">
    <div class="toc-open">
      <%= erb :'content_modules/_table_of_contents.html', locals: { content_module: content_module, current_segment: segment } %>
    </div>
    <div class="transcript-segment written-content">
      <h1 class="segment-title"><%= segment.ref%>.<%= segment.title %></h1>
      <div>
        <%= segment.transcript if segment.respond_to?(:transcript) %>
      </div>
    </div>
  </div>
</div>

