<%= erb :'content_modules/_header.html', locals: { content_module: content_module} %>

<div class="content-module">
  <div class="segment">
    <div class="toc-open">
      <%= erb :'content_modules/_table_of_contents.html', locals: { content_module: content_module, current_segment: segment } %>
    </div>
    <div class="transcript-segment written-content">
      <h1 class="segment-header"><%= segment.ref%>. <%= segment.title %></h1>
      <div>
        <%= segment.transcript if segment.respond_to?(:transcript) %>
      </div>
    </div>
  </div>
</div>

