<div class="o-alert l-alert-sticky <%= word_counter.exceeds_word_limit? ? 'o-alert--warning' : 'o-alert--info' %>">
  Word count: <%= "#{word_counter.count} / #{word_counter.word_limit}" %>.
  <%= "This chapter exceeds the word limit." if word_counter.exceeds_word_limit? %>
</div>

<%= erb :'content_modules/_header.html', locals: { content_module: content_module} %>


<div class="content-module">
  <div class="segment">
    <div class="toc-open">
      <%= erb :'content_modules/_table_of_contents.html', locals: { content_module: content_module, current_segment: segment } %>
    </div>
    <div class="written-content">
      <h1 class="segment-header"><%= segment.ref%>.<%= segment.title %></h1>
      <div>
        <%= segment.body %>
      </div>
    </div>
  </div>
</div>
