<header id="c-global-header" class="c-book-header" role="banner"><p class="e-home-p"><a href="/">Home</a></p> 
  <span class="l-font-header l-font-bold l-font-18 l-color-white l-flex e-header-margin">
    <span class="l-color-white l-font-underline--force"><%= book.title %></span>
    <span class="u-hide-mobile-large--force">&nbsp;·&nbsp;</span>
    <span class="c-book-header__chapter-title">
      <%= chapter.number %>. <%= chapter.title %>
    </span>
  </span>
</header>
<div class="l-admin">
  <%= erb :'_table_of_contents.html', locals: { book: book } %>

  <div class="l-book-chapter-content l-relative">
    <article class="c-written-tutorial c-book-chapter l-block l-block--card-medium">
      <header>
        <div class="c-written-tutorial__introduction">
          <h1>
            <span class="l-whitespace"><%= chapter.number %></span>
            <span><%= chapter.title %></span>
          </h1>
        </div>   
      </header> 

      <div class="c-written-tutorial__content c-book-chapter">
        <%= chapter.body %>
      </div>

    </article>
  </div>
</div>
