<div class="pb-4">
  <a class="tag <%= 'is-light' if defined?(selected_category) %> is-link mb-1"
      href="/">
    all
  </a>
  <% categories.each do |category| %>
    <a class="tag <%= 'is-light' unless defined?(selected_category) && category == selected_category %> is-link mb-1"
       href="/<%= category %>">
      <%= category %>
    </a>
  <% end %>
</div>

<div class="grid">
  <% images.each do |image| %>
    <%= erb :'pablo/_thumbnail.html', locals: { image: image } %>
  <% end %>
</div>
