<div class="l-book-toc l-margin-60 l-margin-mobile-large-40">
  <% book.sections.each do |section| %>
    <h2><%= section.title %></h2>
    <div class="l-book-toc-section-description">
      <p>
        <%= section.description %>
      </p>
    </div>


    <% section.chapters.each do |chapter| %>
      <div class="c-tutorial-episode">
        <div class="l-flex-align-start">
          <h4><a href="<%= url(chapter_path(chapter)) %>"><%= chapter.title %></a></h4>
          <% if chapter.free %><span class="o-badge">Free</span><% end %>
          <% if exceeds_word_limit?(chapter) %>
            <span class="o-badge o-badge-product o-badge-product--highlight">Word Count Exceeded</span>
          <% end %>
        </div>
        <p><%= chapter.description %></p>
        <span class="c-tutorial-episode__number-badge data-tooltip--top-left">
          <span class="o-badge-tutorial"><%= chapter.number %></span>
        </span>
      </div>
    <% end %>
  <% end %>
</div>
